body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.section1 {
    height: 100vh;
    background: url("images/book.png") no-repeat center center;
    background-size: cover;
}
.container{
    display: flex;
    justify-content: space-between;
}
.nav{
    margin: 15px;
    font-size: 20px;
    color: white;
    text-decoration-line: none;
    margin-top: 0;
}
.nav:hover{
    color:white;
    font-size: 25px;
}
.btn{
    height: 2.3rem;
    width:6.5rem;
    border-radius: 2rem;
    border: none;
    background-color: rgb(93, 235, 93);
    color:white;
    font-size: medium;
    margin-right: 1rem;
    margin-top: 1rem;

}
.logo{
    color: white;
    margin-left: 2rem;
    margin-top: 1rem;
}
img{
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    border-radius: 2rem;
    
}

.form{
    display: flex;
    text-align: center;
    align-items: center;
    height: 25rem;
    width: 20rem;
    margin: 5rem;
    border-radius: 10px;
    background-color: rgba(54, 55, 58, 0.548);
}
input{
    height: 1.8rem;
    width: 15rem;
    border:none ;
    /* border-radius: 10px; */
    margin: 0.5rem;

}
label{
    margin-left: 1rem;
    margin: 1rem;
    color: white;
    font-size: large;
}
.for{
    color: rgb(16, 16, 199);
    margin: 15px;
    font-size: 15px;
    text-decoration-line: none;
}
p{
    color: white;
    margin: 0;
}
.signup{
    color: rgb(16, 16, 199);
    margin-left:5px;
}
.login{
    height: 2rem;
    width: 8rem;
    background-color: rgb(93, 235, 93);
    border:none;
    color: white;
    border-radius:1rem;
    margin-bottom: 10px;
    margin-top: 10px;
}



/* Small devices (phones, 600px and smaller) */
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        font-size: 16px;
    }

    .btn {
        width: 100%;
        font-size: small;
    }

    .logo {
        font-size: 20px;
    }
}

/* Medium devices (tablets, 601px to 900px) */
@media only screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        font-size: 18px;
    }

    .btn {
        width: 100%;
        font-size: small;
    }
}

